main{
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto auto;
  grid-row-gap: 2rem;
}
body{
  background-image: url(https://cdn.pixabay.com/photo/2016/09/05/15/07/concrete-1646788_960_720.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat; 
  background-size: cover;
  height: 100vh;
  width: 98vw;
}
#evento {
  font-size: 40px;
  color: white;
  background: #082032;
  text-align: center;
  padding-bottom: 2rem;
}
#pub{
  font-size: 17px;
  color: white;
  background: #082032;
  text-align: right;
  padding-top: 0.9rem;
  padding-right: 0.3rem;
  padding-left: 20rem;
}
#login{
  font-size: 17px;
  color: white;
  background: #082032;
  text-align: right;
  padding-top: 0.8rem;
  padding-right: 1rem;
  padding-left: 5rem;
}
#login:hover {
  text-decoration: underline;
}
#principal{
  grid-row: 3/auto;
  font-size: 25px;
  grid-column: 1/4;
  text-align: center;

}
#categoria{
  grid-row: 4/auto;
  font-size: 20px;
}
#proc{
  font-size: 15px;
  grid-row: 2/auto;
}
#data{
  font-size: 12px;
  grid-row: 3/auto;
}
#p{
  font-size: 25px;
  grid-column: 3/auto;
  grid-row: 10/auto;
  text-align: end;
  padding-right: 1rem;
}
.cats{
  font-size: 30px;
  text-decoration: none;
  color: black;
  grid-row: 9/auto;
  text-align: center;
  grid-column: 1/4;
}
a{
  text-decoration: none;
  color: black;
}
a:visited{
  color: black;
}
a:hover{
  color: black;
  text-decoration: underline;
}
#fb{
  color: navy;
  background: white;
  font-size: 1.8rem;
}
#tw{
  color: dodgerblue;
  background: white;
  font-size: 1.8rem;
}
#insta{
  background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  font-size: 1.8rem;
}
img{
  width: 120px;
  height: 120px;
  grid-row: 8/auto;
  border-radius: 7px;
}
figure{
  grid-row: 8/auto;
  grid-column: 1/4;
  text-align: center;
}
#botao {
  background-color: rgba(255, 76, 36, 1);
  color: white;
  border-radius: 3px;
}
.container-3{
    display: flex;
    background-color: rgba(8, 32, 50, 0.76);
    color: white;
    margin-top: 70px;
    justify-content: space-between;
    height: 200px;
    padding-top: 35px;
}
.container-3 .caixa-1 {
    margin-left: 20px;
}
.container-3 .caixa-3 {
    margin-right: 30px;
}
h2 {
    font-size: 20px;
}
#copy {
    background-color: rgba(8, 32, 50, 0.76);
    color: white;
    text-align: center;
    border-top: 1px solid white;
    padding: 15px;
}


#esportes-box-1 {
    font-size: 40px;
    color: #082032;
    margin-top: 30px;
    margin-left: 30px;
}
#caixas {
  margin-left: 25px;
  padding-bottom: 60px;
}
.container-4 {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    height: 350px;
    width: 800px;
    margin-left: 45px;
}
.img-1, .img-2, .img-3, .img-4 {
    height: 250px;
    width: 250px;
    border-radius: 15px;
}
.img-1 {
    margin-top: 125px;
    margin-left: 190px;
}
.img-2 {
    margin-top: 125px;
    margin-left: 82px;
}
.container-5, .container-7 {
    display: flex;
    width: 800px;
    margin-left: 45px;
    justify-content: center;
}
.leg-1, .leg-2, .leg-3, .leg-4 {
    display: flex;
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
    width: 250px;
    margin-left: 80px;
    padding-bottom: 10px;
} 
.leg-1, .leg-3 {
    margin-left: 160px;
    position: relative;
}
.container-6 {
    display: flex;
    align-items: center;
    height: 300px;
    width: 800px;
    margin-left: 45px;
    justify-content: center;
}
.img-3 {
    margin-left: 157px;
    margin-top: 125px;
}
.img-4 {
    margin-left: 82px;
    margin-top: 125px;
}
